<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>showImage</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/ae51f3deb48f8c54821a8dab3a292df5e1fe7f6c.jpg</string>
		<key>showTitle</key>
		<string>优秀新连载</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://cdn.duitang.com/uploads/item/201512/14/20151214104901_HxZ5w.thumb.224_0.jpeg</string>
		<key>showTitle</key>
		<string>短篇</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://p1.qqyou.com/touxiang/uploadpic/2012-8/9/2012080911165857441.jpg</string>
		<key>showTitle</key>
		<string>已完结</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://www.touxiang.cn/uploads/allimg/120127/13550623G-78.jpg</string>
		<key>showTitle</key>
		<string>男性</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://p1.qqyou.com/touxiang/uploadpic/2012-8/9/2012080911172089143.jpg</string>
		<key>showTitle</key>
		<string>恋爱</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://v1.qzone.cc/avatar/201507/18/19/24/55aa37623ffb0509.jpg%21200x200.jpg</string>
		<key>showTitle</key>
		<string>爆笑</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=de1aaf30c995d143da76e42b43f18296/0042fbf2b21193132cc3bc8364380cd791238d06.jpg</string>
		<key>showTitle</key>
		<string>耽美</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://img1.touxiang.cn/uploads/allimg/120127/1355061103-14.jpg</string>
		<key>showTitle</key>
		<string>恐怖</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://p1.qqyou.com/touxiang/uploadpic/2012-8/9/2012080911165774964.jpg</string>
		<key>showTitle</key>
		<string>剧情</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/8644ebf81a4c510f086aab9e6059252dd52aa58c.jpg</string>
		<key>showTitle</key>
		<string>日常</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=18a9c49a9a22720e7bcee2f24bca0a3a/9c8ef53f8794a4c26c4086d30cf41bd5ac6e39e8.jpg</string>
		<key>showTitle</key>
		<string>三次元</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://img3.100bt.com/upload/ttq/20140429/1398733997145_middle.png</string>
		<key>showTitle</key>
		<string>治愈</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://v1.qzone.cc/avatar/201507/18/19/24/55aa3763b9b56658.jpg%21200x200.jpg</string>
		<key>showTitle</key>
		<string>百合</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://p1.qqyou.com/touxiang/uploadpic/2012-8/9/2012080911171217360.jpg</string>
		<key>showTitle</key>
		<string>奇幻</string>
	</dict>
	<dict>
		<key>showImage</key>
		<string>http://img5q.duitang.com/uploads/item/201305/08/20130508123108_tnSWQ.thumb.224_0.jpeg</string>
		<key>showTitle</key>
		<string>古风</string>
	</dict>
</array>
</plist>
